@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h2> Bem vindo ao gestão de fluxo de caixa clique em lançamentos para cadastrar, atualizar, excluir ou visualizar um lançamento ou clique em balanços para visualizar os balanço mensais ou iniciar um balanço diário</h2>
</div>